<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dump.mapper.DumpRecordMapper">

    <select id="selectByPeriod" resultType="com.example.dump.entity.DumpRecord">
        SELECT * FROM dump_record WHERE exact_date between #{start} and #{end}
    </select>

    <select id="selectBySiteName" resultType="com.example.dump.entity.DumpRecord">
        SELECT * FROM dump_record WHERE site_name = #{site_name}
    </select>

    <select id="dumpDataOfCar" resultType="com.example.dump.entity.DumpDataOfCar">
        SELECT `day`, site_name as siteName, car_number as carNumber, sum(1) as frequency, sum(net_weight) as totalWeight, AVG(net_weight) as avgWeight
        from dump_record
        WHERE `day` between #{start} and #{end}
        <if test="site_name != null and site_name != 'all'">
          and site_name = #{site_name}
        </if>
        group by `day`, site_name, car_number
    </select>
</mapper>
