<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dump.mapper.DumpRecordMapper">

    <select id="selectByPeriod" resultType="com.example.dump.entity.DumpRecord">
        SELECT * FROM dump_record WHERE exact_date between #{start} and #{end}
    </select>

    <select id="selectBySiteName" resultType="com.example.dump.entity.DumpRecord">
        SELECT * FROM dump_record WHERE site_name = #{site_name}
    </select>

    <select id="dumpDataOfCar" resultType="com.example.dump.entity.DumpDataOfCar">
        SELECT site_name as siteName, car_number as carNumber, sum(1) as frequency, sum(net_weight) as totalWeight, AVG(net_weight) as avgWeight
        from dump_record
        WHERE `day` between #{start} and #{end}
        <if test="site_name != null and site_name != 'all'">
          and site_name = #{site_name}
        </if>
        group by site_name, car_number
    </select>

    <select id="pastDumpAmountOfCar" resultType="java.lang.Integer">
        SELECT SUM(net_weight)
        from dump_record dr
        WHERE site_name = #{site_name} and car_number = #{car_number}
          and `day` BETWEEN  DATE_SUB(CURDATE(), INTERVAL 7 day) and DATE_SUB(CURDATE(), INTERVAL 1 day)
          and TIME(exact_date) BETWEEN #{start} and #{end}
        GROUP by car_number
    </select>

    <select id="todayDumpAmountOfCar" resultType="java.lang.Integer">
        SELECT SUM(net_weight)  from  dump_record dr
        WHERE site_name = #{site_name} and car_number = #{car_number} and exact_date BETWEEN #{start} and #{end}
        GROUP by car_number
    </select>

    <select id="carDumpAmountOfAllSite" resultType="com.example.dump.entity.CarData">
        select predictAmount, a.siteName, a.carNumber, todayAmount
        from
            (
                SELECT SUM(net_weight) DIV 7 as predictAmount, site_name as siteName, car_number as carNumber from dump_record dr
                WHERE `day` BETWEEN  DATE_SUB(CURDATE(), INTERVAL 7 day) and DATE_SUB(CURDATE(), INTERVAL 1 day)
                  and TIME(exact_date) BETWEEN #{timeStart} and #{timeEnd}
                group by site_name, car_number
            ) a
            LEFT JOIN
            (
                SELECT SUM(net_weight) as todayAmount, site_name as siteName, car_number as carNumber  from  dump_record dr
                WHERE exact_date BETWEEN #{dateTimeStart} and #{dateTimeEnd}
                GROUP by site_name, car_number
            ) b
        on a.siteName = b.siteName and a.carNumber = b.carNumber
    </select>

    <select id="carDumpAmount" resultType="com.example.dump.entity.CarData">
        select predictAmount, a.siteName, a.carNumber, todayAmount
        from
            (
                SELECT SUM(net_weight) DIV 7 as predictAmount, site_name as siteName, car_number as carNumber from dump_record dr
                WHERE car_number = #{car_number}
                    and `day` BETWEEN  DATE_SUB(CURDATE(), INTERVAL 7 day) and DATE_SUB(CURDATE(), INTERVAL 1 day)
                    and TIME(exact_date) BETWEEN #{timeStart} and #{timeEnd}
                group by site_name, car_number
            ) a
            LEFT JOIN
            (
                SELECT SUM(net_weight) as todayAmount, site_name as siteName, car_number as carNumber  from  dump_record dr
                WHERE car_number = #{car_number}
                    and exact_date BETWEEN #{dateTimeStart} and #{dateTimeEnd}
                GROUP by site_name, car_number
            ) b
        on a.siteName = b.siteName and a.carNumber = b.carNumber
    </select>

    <select id="dumpDataOfSite" resultType="com.example.dump.entity.DumpDataOfSite">
        SELECT site_name as siteName, date(`day`) as `day`, SUM(net_weight) as weight  from dump_record dr
        WHERE `day` between #{start} and #{end}
        <if test="site_name != null and site_name != 'all'">
            and site_name = #{site_name}
        </if>
        group by site_name, `day`
    </select>

    <select id="checkStatus" resultType="com.example.dump.entity.DBStatus">
        select a.site_name as siteName, a.predict, b.actual
        from
            (
                SELECT  COUNT(1) div 7 as predict, site_name
                from dump_record dr
                WHERE `day` BETWEEN DATE_SUB(CURDATE(), INTERVAL 7 day) and DATE_SUB(CURDATE(), INTERVAL 1 day)
                and TIME(exact_date) BETWEEN DATE_SUB(CURTIME(), INTERVAL 1 HOUR) and CURTIME()
                group by site_name
            ) a
            LEFT JOIN
            (
                SELECT  COUNT(1) as actual, site_name
                from dump_record dr
                WHERE  `day` = CURDATE()
                and TIME(exact_date) BETWEEN DATE_SUB(CURTIME(), INTERVAL 1 HOUR) and CURTIME()
                group by site_name
            ) b
        on a.site_name = b.site_name
    </select>
</mapper>
